## Predicting Developer Salaries

### Project Background
Africaâ€™s Tech sector has become one of the fastest growing tech ecosystems in the world with tech being one of the fastest growing sectors in Africa. This has led to a rise in demand for jobs in the industry. 
However, unlike other parts of the world, information on remuneration in these jobs remains hard to come by. Existing resources such as glassdoor and brighter monday have limited information on salaries in Africa. 
Over the past few years, it has been observed that foreign companies enter the African Market, offering more competitive salaries compared to local companies resulting in mass movement of experienced developers into these new roles.
This project seeks to solve this problem by developing a platform that can predict developer salaries based on their personal information, and also, providing comparison between different incomes in different regions for similar roles.


### Stakeholders: 
- Jobseekers
- Employers
- Recruitment agencies

### Business Understanding
Salary negotiation can be a critical stage in the job search process, and job seekers often encounter various challenges during this phase like lack of information on salary trends. This means that a jobseeker might spend valuable time researching industry salary trends. Some might not be so lucky as the information might be non existent.

As the Tech labour market becomes more competitive, offering the right salary for new and current employees is crucial for employers as it means keeping or losing a valued resource. Thus it is imperative for them to offer fair and competitive compensation that is benchmarked to their industry

Our project looks at coming up with salary prediction model to help both jobseekers and employers with the above challenges. We will focus on the tech industry (developers) and use data from stackoverflow's annual developer survey.

### Problem statement
Our solution to the problem of inadequate salary data for both employees and employers is to develop a salary prediction model, to estimate salaries based on relevant job specifications. The model will assist in making informed decisions related to compensation and provide valuable insights for both job seekers and employers.

The salary prediction model will enable job seekers to have a better understanding of the salary expectations associated with their qualifications and experience. 

Employers can use the model to make informed decisions regarding fair compensation packages for new hires or salary adjustments for existing employees.

Job sites like linkedin, glassdoor, brigther monday can use this model for jobs displayed on the sites by quoting the estimated salaries

### Objectives

- The main objective of this project is to come up with a salary rediction model that will:
- Enable Jobseekers to ask for competitive salaries during contract negotiations.
- Assist employers in offering fair compensation to their employees.
- Assist Recruitment agencies offer accurate salary estimates to their clients.

These objectives will be achieved through the following specific objectives:
- To select the most important features in the dataset to be used in Salary prediction.
- To describe how features such as Proffessional experience and Education level affect Annual compensation.
- To build multiple regression models and identify the most suitable model to be used in the prediction.
- To deploy the model using streamlit as an online dashboard.

### Success Metrics

The metrics to be used to measure the success of the model are:
- Mean Absolute Error
- Root Mean Square Error
- Rsquared

An Rsquared  value of 75% or more will be considered a success, i.e the model explains more than 75% of the  variance in pay of the developers.

### Data Understanding
The data comes from [stakoverflow annual developer survey](https://insights.stackoverflow.com/survey/) for 2022. Each row shows the responses given by a developer. It has 73268 rows and  79 columns. The data has missing values, but no duplicate rows.

The target variable ConvertedCompYearly shows the annual salary for each developer.
The data contains responses from 180 countries.
Opportunities to clean the data and use PCA to reduce the number of columns

In [260]:
# import all required modules
import pandas as pd
import numpy as np
from ydata_profiling import ProfileReport
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set_style('dark')
import category_encoders as ce

In [261]:
#load dataset
df = pd.read_csv(r'C:\Users\ADMIN\OneDrive - Kantar\XXXXXXXX\POV1\Data Science\Moringa\data\survey_results_public.csv')
df.head(2)

#### Class for Understanding Dataset
Below we create a class to:
- give data dimensions
- display column info
- give descriptive stats on numerical columns
- check data types, duplicates & missing values

From the below outputs of the class:
- The Dataset has no duplicates
- Data has 6 numeric columns and 73 categorical columns
- 77 columns have missing values, ranging from 2% (`country` column) to 100% (`VCHostingProfessional use` & `VCHostingPersonal use` columns). We will deal with missing values in the data cleaning section

In [262]:
# class to describe dataset

class Describer:
    
    # initialize object
    def __init__(self, df):
        self.df = df
        
    # method to check shape of data
    def shape(self):
        out = print(f"The DataFrame has:\n\t* {self.df.shape[0]} rows\n\t* {self.df.shape[1]} columns", '\n')
        return out
    
    # method to check info on dataset
    def data_info(self):
        out = print(self.df.info(), '\n')
        return out
    
    # method to describe numerical columns
    def data_describe(self):
        out = self.df.describe()
        return out
    
    # method to check data types
    def data_type(self):
        """A simple function to check the data types on th datasets """

        print("Data has",len( df.select_dtypes(include='number').columns),
                "Numeric columns")
    
        print("and", len(df.select_dtypes(include='object').columns),
          "Categorical columns")

        print('*******************')
        print('*******************')

        print('Numerical Columns:', df.select_dtypes(include='number').columns)
        print('Categorical Coulumns:', df.select_dtypes(include='object').columns)

        return None
    
    # check duplicates 

    def check_duplicates(self):
        duplicates = []

        """Function that iterates through the rows of our dataset to check whether they are duplicated or not"""
        
        for i in df.duplicated():
            duplicates.append(i)
        duplicates_set = set(duplicates)
        if(len(duplicates_set) == 1):
            print('The Dataset has No Duplicates')

        else:
            duplicates_percentage = np.round(((sum(duplicates)/len(df)) * 100 ), 2)
            print(f'Duplicated rows constitute of {duplicates_percentage} % of our dataset')
        
        return None
    
    # method to check missing values
    def missing_values(self):

        """ Function for checking null values in percentage in relation to length of the dataset """

        if df.isnull().any().any() == False :

            print("There Are No Missing Values")

        else:

            missing_values = df.isnull().sum().sort_values(ascending=False)

            missing_val_percent = ((df.isnull().sum()/len(df)).sort_values(ascending=False))

            missing_df = pd.DataFrame({'Missing Values': missing_values, 'Percentage %': missing_val_percent})

            return missing_df[missing_df['Percentage %'] > 0]
        
# creating an instance of the class describer
describe_df = Describer(df)

# lets view the shape of the data
describe_df.shape()

# lets check for duplicates
describe_df.check_duplicates()

# lets describe data types
describe_df.data_type()

# lets view the info of the data
describe_df.data_info()

# lets describe numerical cols
describe_df.data_describe()

# lets get missing values
describe_df.missing_values()

### Data Cleaning
The data cleaning process will entail the following:
- Renaming clumsily worded columns for easier understanding
- Dealing with missing data from the 77 columns
    - Drop columns with 100% missing data

#### Renaming Columns
When going through the data, we noticed some clumsily worded columns. To make the data easier to understand, we came up with new names. Below we code a function that will take in the new and old names as key-value pairs, then use these to rename the columns in the dataframe.

We have run the function below and confirmed renaming of a few columns e.g. columns 3 to 5

In [263]:

def rename(data):

    # import text doc with old and new col names
    cols = pd.read_csv(r'cols.txt', sep='\t')

    # create a dictionary with the cols df
    cols_dict = dict(zip(cols['Old'], cols['New']))

    # rename cols in the dataframe
    df = data.rename(columns = cols_dict)

    return df

df = rename(df)
df.head()

### Cleaning Missing Data
`VCHostingProfessional use` and `VCHostingPersonal use` columns have no data, hence have 100% missing values. We drop these 2 columns for this reason

In [264]:
describe_df.missing_values()

In [265]:
# function to drop 'VCHostingProfessional use' &  'VCHostingPersonal use' cols
def dropping_columns(data, columns):

    """A simple function to drop columns with missing values"""

    drop_column = data.drop(columns=columns, axis=1)
    
    return drop_column

columns_to_drop = ['VCHostingProfessional use', 'VCHostingPersonal use']

df = dropping_columns(df, columns_to_drop)

describe_df.missing_values()

### Columns With Legitimately Missing Values
The column `Participation_PDS` allowed a developer to choose wether or not they would answer the subsequent 20 questions. This means that the missing values for these will be missing because they should. 

In `Participation_PDS` we will replace NA with No, then in the subsequent PDS questions, replace NA with Not Answered

In [266]:
# function to replace NA in Participation_PDS with No
def fill_pds(data):
    data['Participation_PDS'] = data.Participation_PDS.fillna('No')
    return data

df = fill_pds(df)
df.Participation_PDS.unique()

In [267]:
# function to clean cols 'Contributor_or_Manager':'Learning_Support'
def replace_na(data):
    for index, row in data.iterrows():
        if row['Participation_PDS'] == 'No':
            data.loc[index, 'Contributor_or_Manager':'Learning_Support'] = 'Not Answered'
    return data

df = replace_na(df)
df.head()

In [268]:
describe_df.missing_values()

After cleaning the legitimate missing columns above, we expected subsequent values to contain no missing data. However, on inspecting some 'Yes' values in  `Participation_PDS` we realised they also had some missing values in the subsequent columns. Below we clean these missing values by assigning them to 'Not Answered'

In [269]:
# function to replace yes in Participation_PDS with missing vals in subsequent columns
    # Define the range of columns
columns_range = ['Contributor_or_Manager', 'WorkExp', 'Extroverted', 'Siloed_Teams',
       'Information_Availability', 'Well_Resourced', 'Info_Answ_Resource',
       'Recurring_Responses', 'Workflow_Interruptions',
       'External_Team_Assistance', 'External_Team_Interaction',
       'Knowledge_Silos', 'TimeSearching_Answers', 'TimeAnswering',
       'Onboarding_Duration', 'ProfessionalTech', 'Is_Involved_Onboarding',
       'Employer_Learning_Resources', 'Learning_Support']

def replace_yesna(data, columns_range, valuefill):
    # Replace 'NA' with 'not answered' in the specified range of columns
    data[columns_range] = data[columns_range].fillna(valuefill)
    return data

df = replace_yesna(df, columns_range,'Not Answered')

df.TimeSearching_Answers.value_counts()

After cleaning these columns, we now have 55 columns with missing values

In [270]:
len(describe_df.missing_values())

To replace the missing values of `SurveyLength` and `SurveyEase`, we reviewed the most common values in both columns. In the former, 'Appropriate in length' is 76% while in the latter, 'Easy' is 67%. Below we use these 2 values to fill missing values for the 2 columns

In [271]:
# for 
print(df.SurveyLength.value_counts(normalize=True))
print(df.SurveyEase.value_counts(normalize=True))

In [272]:
def len_eas(data):
    data.SurveyLength.fillna('Appropriate in length', inplace=True)
    data.SurveyEase.fillna('Easy', inplace=True)

    return data

df = len_eas(df)

print(df.SurveyLength.isna().sum())
print(df.SurveyEase.isna().sum())

The `Annual_Salary` column is our target variable. It has 47% of its values missing. **to be continued**

In [273]:
print(df['Annual_Salary'].isna().sum())
print(df['Total_Salary'].isna().sum())

In [274]:
print(len(describe_df.missing_values()))
describe_df.missing_values()

Below we select rows with 20% - 70% missing values in all columns. Looking at the sample distribution of missing values, we will drop all rows with more than 50% missing values as they quality of their responses are doubful

In [275]:
# function to calculate 20% - 70% of col missing values
def missing_vals(data):
    # Calculate the percentage of missing values for each row
    missing_percentages = data.isnull().mean(axis=1) * 100

    # Select rows with 20% missing values
    rows_20_percent_missing = data[missing_percentages >= 20]

    # Select rows with 50% missing values
    rows_50_percent_missing = data[missing_percentages >= 50]

    # Select rows with 60% missing values
    rows_60_percent_missing = data[missing_percentages >= 60]

    # Select rows with 70% missing values
    rows_70_percent_missing = data[missing_percentages >= 70]

    out = print("20% missing: ", len(rows_20_percent_missing), "50% missing: ", len(rows_50_percent_missing), 
                "60% missing: ", len(rows_60_percent_missing), "70% missing: ", len(rows_70_percent_missing))
    return out

missing_vals(df)

In [276]:
# function to drop rows with more than 50% missing values
def drop_50(data):
    threshold = len(data.columns) * 0.5  # 50% of total columns
    data = data.dropna(thresh=threshold)

    return data

df = drop_50(df)
df.shape

In [277]:
cols = """Code_Certifications
Proj_Mgmt_WantToWorkWith
MiscTechWantToWorkWith
Annual_Salary
Total_Salary
PlatformWantToWorkWith
Salary_Frequency
MiscTechHaveWorkedWith
WebframeWantToWorkWith
Proj_Mgmt_HVWorkedWith
ToolsTechWantToWorkWith
Proj_Mgmt_SyncWantToWorkWith
PlatformHaveWorkedWith
Learn_Code_Source
PurchaseInfluence
DatabaseWantToWorkWith
OrgSize
Currency
Pro_Experience
WebframeHaveWorkedWith
ToolsTechHaveWorkedWith
SOA_ParticipationFreq
Outofwork_Coding
Remote_vs_Onsite
DatabaseHaveWorkedWith
DevType
Proj_Mgmt_SyncHaveWorkedWith
NEWCollabToolsWantToWorkWith
OpSysProfessional use
MentalHealth
Sexuality
LanguageWantToWorkWith
Disability
Purchase_Research
VCInteraction
Ethnicity
Trans
NEWCollabToolsHaveWorkedWith
Gender
Age
OpSysPersonal use
SOVisitFreq
LanguageHaveWorkedWith
Blockchain_Sentiment
Coding_Experience
New_Stack_Overfl_Sites
VersionControlSystem
Belong_SO_Comm
Education_Level
SOAccount_Ownership
Learn_Code_Method
Employment_Status
"""
# function to split cols variable into a list
def listcols(cols):    
    cols_list = cols.split('\n')
    cols_list = [col.strip() for col in cols_list if col.strip()]

    return cols_list

cols_list = listcols(cols)
print(cols_list)

We select the columns with missing values, then below we run a profiles report to inspect the properties of each columns, and decide on how to deal with the missing values.

In [278]:
# function to display profile report for cols 
# with missing values
def profile_report(data, cols_list):
    missing_cols = data[cols_list]
    profile = ProfileReport(missing_cols, title = "Profiling Report", minimal = True)
    return profile

#profile_report(df, cols_list)

#### Drop `Total_Salary`, `Salary_Frequency` and `Currency` Columns
These columns are used to compute `Annual_Salary` column, which is our target variable. Thus they should not form part of the feature variables

In [279]:
# use our function to drop
columns_to_drop1 = ['Total_Salary', 'Salary_Frequency', 'Currency']
df = dropping_columns(df, columns_to_drop1)
df.shape[1]

In [280]:
# confirming cols have been dropped
def confirm(data, columns_to_drop1):    
    for i in columns_to_drop1:
        print(i in data.columns)
    return None

confirm(df, columns_to_drop1)

#### Handle Missing Values with None of the Above
The columns below have valid missing values because the response options did not allow the developers specify the responses that did not apply to them. For example in the column `Code_Certifications` asks developers the online resources they used to learn coding. However, it is possible that some people didn't use these resources because they learned coding in the degree courses for example. Since this option misses from the responses, those develpers opted to skip for this reason. The same logic applies to the remaining columns selected below

In [281]:
# create list of columns
cols1 = """Code_Certifications
Proj_Mgmt_WantToWorkWith
MiscTechWantToWorkWith
PlatformWantToWorkWith
MiscTechHaveWorkedWith
WebframeWantToWorkWith
Proj_Mgmt_HVWorkedWith
ToolsTechWantToWorkWith
Proj_Mgmt_SyncWantToWorkWith
PlatformHaveWorkedWith
Learn_Code_Source
PurchaseInfluence
DatabaseWantToWorkWith
WebframeHaveWorkedWith
ToolsTechHaveWorkedWith
Outofwork_Coding
DevType
Proj_Mgmt_SyncHaveWorkedWith
NEWCollabToolsWantToWorkWith
MentalHealth
LanguageWantToWorkWith
Disability
Purchase_Research
VCInteraction
NEWCollabToolsHaveWorkedWith
New_Stack_Overfl_Sites
OrgSize
Remote_vs_Onsite
DatabaseHaveWorkedWith"""

cols_list1 = listcols(cols1)
print(cols_list1)

In [282]:
# use function to filll in list of columns with None
df = replace_yesna(df, cols_list1,'None of the Above')
df.Code_Certifications.value_counts()

#### Missing Values filled With One of the Response Options
For this set of columns, we have identified a criteria to fill in the missing values based on the response distribution. For example:
- demographic variable missing values are filled with preferred not to say option due to sensitivity
- some other variables filled with the most common response option based on domain knowledge e.g operating systems used
- while some filled with 'not sure/can't rememember'- e.g. blockchain sentiments

In [283]:
# Function to rename values in the 'Experience' column
def rename_values(df, column):
    df[column] = df[column].replace({'Less than 1 year': 0.5, 'More than 50 years': 50})
    return df

# Call the function to rename values in the 'Pro_Experience' column
df = rename_values(df, 'Pro_Experience')

# Call the function to rename values in the 'Coding_Experience' column
df = rename_values(df, 'Coding_Experience')

In [284]:
# cols to fill with 'Prefer not to say'
demo = ['Sexuality', 'Ethnicity', 'Trans', 'Gender', 'Employment_Status']

df = replace_yesna(df, demo,'Prefer not to say')

# fill Age with '25-34 years old'
df = replace_yesna(df, 'Age','25-34 years old')

# fill 'OpSysPersonal use' & 'OpSysProfessional use' with 'Windows'
ops = ['OpSysPersonal_use', 'OpSysProfessional_use']
df = replace_yesna(df, ops,'Windows')

# fill  SOVisitFreq with 'Daily or almost daily'
df = replace_yesna(df, 'SOVisitFreq','Daily or almost daily')

# fill Blockchain_Sentiment with 'Unsure'
df = replace_yesna(df, 'Blockchain_Sentiment','Unsure')

# fill Coding_Experience, Pro_Experience with median
df['Coding_Experience'].fillna(df['Coding_Experience'].median(), inplace=True)
df['Pro_Experience'].fillna(df['Pro_Experience'].median(), inplace=True)

# fill VersionControlSystem with 'I don't use one'
df = replace_yesna(df, 'VersionControlSystem',"I don't use one")

# fill Belong_SO_Comm with 'Not sure'
df = replace_yesna(df, 'Belong_SO_Comm',"Not sure")

# fill Education_Level with 'Something else'
df = replace_yesna(df, 'Education_Level',"Something else")

# fill SOAccount_Ownership with Not sure/can't remember
df = replace_yesna(df, 'SOAccount_Ownership',"Not sure/can't remember")

# fill Learn_Code_Method with 'I don't use one'
df = replace_yesna(df, 'Learn_Code_Method',"I don't use one")

# fill SOA_ParticipationFreq with 'Less than once per month or monthly'
df = replace_yesna(df, 'SOA_ParticipationFreq',"Less than once per month or monthly")

# fill LanguageHaveWorkedWith with 'Bash/Shell'
df = replace_yesna(df, 'LanguageHaveWorkedWith',"Bash/Shell")

In [285]:
print(len(describe_df.missing_values()))
describe_df.missing_values()

#### Handling Multiple Response Values
From the profiles analysis, the columns below were discovered to contain multiple and fragmented respones for each row, which masked the true distribution across categories due to unique combination of values contained in each row. To untangle the values and have unique responses, we will select the first mentioned response. Our rationale is that this responses for e.g in `Code_Certifications` represents the online resource that was used most often, was most impactful, or most memorable to the developer. The same arguement holds for the other columns.

In [286]:
# Code to extract first mentions
def extract_first_value_from_columns(df, columns):
    first_values = {}
    for col in columns:
        first_values[col] = df[col].apply(lambda x: x.split(";")[0].strip() if isinstance(x, str) and ";" in x else x)
    return pd.DataFrame(first_values)

# columns to be cleaned
colslist = ['Code_Certifications', 'Proj_Mgmt_WantToWorkWith', 'MiscTechWantToWorkWith', 'PlatformWantToWorkWith', 
'WebframeWantToWorkWith', 'Proj_Mgmt_HVWorkedWith', 'ToolsTechWantToWorkWith', 'Proj_Mgmt_SyncWantToWorkWith', 
'PlatformHaveWorkedWith', 'Learn_Code_Source', 'DatabaseWantToWorkWith', 'WebframeHaveWorkedWith', 
'ToolsTechHaveWorkedWith', 'Outofwork_Coding', 'DatabaseHaveWorkedWith', 'DevType', 
'Proj_Mgmt_SyncHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSysProfessional_use', 'MentalHealth', 
'Sexuality', 'LanguageWantToWorkWith', 'Disability', 'Purchase_Research', 'VCInteraction', 'Ethnicity', 
'NEWCollabToolsHaveWorkedWith', 'OpSysPersonal_use', 'LanguageHaveWorkedWith', 'New_Stack_Overfl_Sites', 
'VersionControlSystem', 'Learn_Code_Method', 'Employment_Status', 'Gender', 'ProfessionalTech']

# data with cols of first mentions
zer = extract_first_value_from_columns(df, colslist)
zer.Code_Certifications.value_counts(normalize=True)

In [287]:
# replace the colslist in df with cleaned data
# from zer dataframe
df[colslist] = zer

# confirm that values display as expected
df.Code_Certifications.value_counts(normalize=True)

#### Cleaning the `Annual_Salary` Column
To clean this column's missing values, we will look at:
- the employment of each respondent. For unemployed and students without salary values, we will replace missing values with 0 as it is unrealistic to impute values for this group
- the salary distribution at a regional level (e.g. salaries in Africa would differ from Europe), then use the appropriate median value

In [288]:
# for those who don't work and have no salary
# fill missing salary with 0
nonwork = ['Student, full-time', 'Student, part-time',
       'Not employed, but looking for work',
 'Not employed, and not looking for work',
       'Retired', 'I prefer not to say']

df.loc[(df['Employment_Status'].isin(nonwork)) & (df['Annual_Salary'].isna()), 'Annual_Salary'] = 0
# confirm that the replace has worked
print(df.Annual_Salary.value_counts().head(), '\n')

# confirm that other null values still exist
print('remaining missing values: ', df.Annual_Salary.isna().sum())

In [289]:
# countries grouped into continents
continents = {
    'Asia': ['Israel', 'Hong Kong (S.A.R.)', 'India', 'China', 'Singapore', 'Iraq',
             'Philippines', 'Iran, Islamic Republic of...', 'Indonesia', 'Afghanistan',
             'Viet Nam', 'South Korea', 'Taiwan', 'Japan', 'Thailand', 'Bangladesh',
             'Nepal', 'United Arab Emirates', 'Pakistan', 'Sri Lanka', 'Azerbaijan',
             'Uzbekistan', 'Kazakhstan', 'North Korea', 'Timor-Leste', 'Brunei Darussalam',
             'Oman', 'Saudi Arabia', 'Maldives', 'Jordan', 'Bahrain', 'Republic of Korea',
            'Lebanon', 'Malaysia', "Lao People's Democratic Republic", 'Syrian Arab Republic',
            'Qatar', 'Kyrgyzstan', 'Cambodia', 'Yemen', 'Mongolia', 'Tajikistan', 'Myanmar', 
            'Kuwait', 'Turkmenistan', 'Palestine', 'Bhutan'],
    'Oceania': ['Australia', 'New Zealand', 'Fiji', 'Solomon Islands', 'Papua New Guinea', 
                'Palau'],
    'North America': ['Canada', 'United States of America', 'Mexico', 'Dominican Republic', 
                     'Costa Rica', 'Nicaragua', 'Belize', 'Guatemala', 'El Salvador', 
                     'Jamaica', 'Cuba', 'Panama', 'Bahamas', 'Barbados', 'Antigua and Barbuda', 
                      'Haiti', 'Saint Lucia', 'Saint Kitts and Nevis'],
    'Europe': ['Croatia', 'Netherlands', 'Czech Republic', 'Sweden', 'Denmark',
               'Finland', 'United Kingdom of Great Britain and Northern Ireland',
               'Austria', 'France', 'Portugal', 'Belgium', 'Ireland', 'Iceland',
               'Montenegro', 'Germany', 'Belarus', 'Switzerland', 'Poland',
               'Ukraine', 'Russia', 'Serbia', 'Luxembourg', 'Spain', 'Norway',
               'Romania', 'Italy', 'Turkey', 'Greece', 'Hungary', 'Malta',
               'Estonia', 'Slovenia', 'Bosnia and Herzegovina', 'Bulgaria',
               'Georgia', 'Latvia', 'Lithuania', 'Moldova', 'Macedonia (FYROM)', 'Armenia',
               'Monaco', 'Slovakia', 'Cyprus', 'Russian Federation', 
              'The former Yugoslav Republic of Macedonia', 'Andorra', 'Nomadic', 'Albania', 
              'Republic of Moldova', 'Kosovo', 'Isle of Man', 'San Marino'],
    'Africa': ['Madagascar', 'South Africa', 'Swaziland', 'Mali', 'Egypt', 'Nigeria',
               'Tunisia', 'Cameroon', 'Ethiopia', 'Ghana', 'Rwanda', 'Senegal',
               'Chad', 'Benin', 'Angola', 'Namibia', 'Malawi', 'Sierra Leone',
               'Zimbabwe', 'Mauritius', 'Morocco', 'Kenya', 'Botswana', 'Liberia', 'Lesotho', 
               'Guinea', 'Gabon', 'Seychelles', 'Algeria', 'Zambia', 'Uganda', 
              'United Republic of Tanzania', 'Niger', 'Cape Verde', 'Libyan Arab Jamahiriya', 
              'Togo', 'Sudan', 'Democratic Republic of the Congo', "CÃ´te d'Ivoire", 
              'Congo, Republic of the...', 'Somalia', 'Mozambique', 'Mauritania', 
              'Burkina Faso', 'Gambia', 'Djibouti'],
    'South America': ['Brazil', 'Argentina', 'Colombia', 'Chile', 'Peru',
                      'Venezuela, Bolivarian Republic of...', 'Bolivia', 'Paraguay',
                      'Ecuador', 'Uruguay', 'Honduras', 'Trinidad and Tobago', 'Suriname', 
                     'Guyana']
}

In [290]:
# Create the 'continents' column by mapping the 'countries' column to the continents dictionary
df['continents'] = df['Country'].map({country: continent for continent, countries in continents.items() 
                                        for country in countries})

In [291]:
# get median salary for each continent
salo = df[df.Annual_Salary > 0].groupby('continents')['Annual_Salary'].median()
salo

In [292]:
continent_mapping = {
    'Africa': 18126.0,
    'Asia': 23215.0,
    'Europe': 59720.0,
    'North America': 132000.0,
    'Oceania': 92002.0,
    'South America': 27008.5}

df['Annual_Salary'] = df.groupby('continents')['Annual_Salary'].apply(lambda x: x.fillna(continent_mapping[x.name]))

df.Annual_Salary.isna().sum()

In [293]:
# preview salary columnn after handling missing values
df[['continents', 'Country', 'Annual_Salary']].head()

In [294]:
# confirm no more missing values
describe_df.missing_values()

# Outliers 
We have 1 numerical column Annual Salary. Below codes are checking for outliers 
* We have  455 outliers , the lowest Outlier in salary is : 1828416.0, the highest Outlier in salary is  : 50000000.0, we also have 0 salary values which are the highest in count.
* Considering this is real world data we have log transformed the values and for the 0 values we have added a constant of 0.00001 to handle 0 values

In [295]:
df.Annual_Salary.value_counts()

In [296]:
#Annual salary distribution 
df.hist('Annual_Salary')
plt.show()

Below we are trying to see who the majority of 0 are

In [297]:
filtered_data = df[df['Annual_Salary'] == 0]
print(filtered_data.shape[0])
filtered_data.head(3)

In [298]:
avedf = df[(df["Employment_Status"] == "Student, full-time") | (df["Employment_Status"] == "Student, part-time") & 
           (df["Annual_Salary"]!= 0.0)]
avedf.Annual_Salary.value_counts()

In [299]:
filtered_data.groupby('continents').Employment_Status.value_counts()

In [300]:
filtered_data.continents.value_counts()

In [301]:
df.continents.value_counts()

In [302]:
#create a function to check for Outliers 
def check_outliers(data):
    """A function to check for outliers in the numeric columns using Z-Score"""
    series_num = data["Annual_Salary"]
    mean = np.mean(series_num)
    std = np.std(series_num)
    threshold = 3
    outliers = data[np.abs((series_num - mean) / std) > threshold]
    return outliers

outliers = check_outliers(df)

print("The Number of Outliers in the 'Annual_Salary' Column:", len(outliers))
print("Outliers:")
outliers.head(2)

In [303]:
#boxplot to check outliers 
plt.figure(figsize=(10, 6))
plt.boxplot(df['Annual_Salary'])
plt.ylabel('Salary')
plt.yscale('log')
plt.title('Boxplot of Salaries')
plt.show()

In [304]:
#summary of above 
print("We have ", len(outliers)) 
print("The lowest Outlier in salary is :", outliers.Annual_Salary.min())
print("The highest Outlier in salary is  :", outliers.Annual_Salary.max())

### Exploratory Data Analysis

We will explore a few varibales below to help us better understand our data:
- **Developer demographics** : continent, years of experience - work, age, gender, coding, education level, , where learned coding, remote vs onsite
- **Developer tools**: Language worked with, database worked with, cloud platforms worked with, version control, operating system
- **Annual_Salary** - histogram, boxplot. salary by continent, by educational level, years of experience

#### Developer Distribution by Continent
Most of the data was gathered from developers in Europe, North America and Asia.

In [305]:
# plt developer distribution by continent
con = round(df.continents.value_counts(normalize=True), 2)
plt.bar(con.index, con.values)
plt.title('Developer Distribution by Continent')
for i, v in enumerate(con.values):
    plt.text(i, v, str(v), ha='center', va='bottom')
plt.xlabel('continents')
plt.ylabel('% count');

#### Years of Experience : Professionnal & Coding

In [306]:
# convert cols from 'object' to 'float' type
df['Pro_Experience'] = df.Pro_Experience.astype('float')
df['Coding_Experience'] = df.Coding_Experience.astype('float')

fig, axes = plt.subplots(ncols=2, figsize=(10,4))

fig.suptitle('Years of Experience : Professionnal & Coding')
axes[0].hist(df.Pro_Experience)
axes[0].axvline(df.Pro_Experience.median(), c='r')
axes[0].set_xlabel('Years of Professional Experience')
axes[0].set_ylabel('Count')
axes[1].hist(df.Coding_Experience)
axes[1].axvline(df.Coding_Experience.median(), c='r')
axes[1].set_xlabel('Years of Coding Experience')
axes[1].set_ylabel('Count')

plt.legend(['median', 'median']);

#### Age and Gender Distribution

In [307]:
genl = ['In your own words:',
       'LBGTQIA',
       'I prefer not to say', 'Prefer not to say', 'Woman', 'Man']

#
agedf = df.Age.value_counts().sort_values(ascending=True)
genddf = df.Gender.value_counts().sort_values(ascending=True)

fig, axes = plt.subplots(ncols=2, figsize=(18,6))

fig.suptitle('Age & Gender')
axes[0].barh(agedf.index, agedf.values)
axes[0].set_ylabel('Age')
axes[0].set_xlabel('Count')
axes[1].barh(genddf.index, genddf.values)
axes[1].set_ylabel('Gender')
axes[1].set_xlabel('Count')
axes[1].set_yticks(range(len(genl)))
axes[1].set_yticklabels(genl);

#### Source of Coding Skills

In [308]:
fig, axes = plt.subplots(nrows=4, figsize=(4,25))
plt.figure(figsize=(10, 6))
sns.countplot(data=df, y='Learn_Code_Method', order=df['Learn_Code_Method'].value_counts().index, palette='viridis', ax=axes[0])
axes[0].set_ylabel('Learn Code Method')
axes[0].set_xlabel('Count')
axes[0].set_title('Source of Coding Knowhow ')

sns.countplot(data=df, y='Learn_Code_Source', order=df['Learn_Code_Source'].value_counts().index, palette='viridis', ax=axes[1])
axes[1].set_ylabel('Learn Code Source')
axes[1].set_xlabel('Count')
axes[1].set_title('Source of Coding Skill ')

sns.countplot(data=df, y='Code_Certifications', order=df['Code_Certifications'].value_counts().index, palette='viridis', ax=axes[2])
axes[2].set_ylabel('Coding Certs')
axes[2].set_xlabel('Count')
axes[2].set_title('Coding Certs ')

sns.countplot(data=df, y='Education_Level', order=df['Education_Level'].value_counts().index, palette='viridis', ax=axes[3])
axes[3].set_ylabel('Education Level')
axes[3].set_xlabel('Count')
axes[3].set_title('Education Level');

#### Employment Status & Work Style

In [309]:
empl = ['Retired', 'I prefer not to say',
       'Not employed, not searching', 'Employed, part-time',
       'Not employed, searching', 'Student, part-time',
       'consultant/freelance',
       'Student, full-time', 'Employed, full-time']

wkstlls = ['Full in-person', 'None',
       'Hybrid', 'Fully remote']

In [310]:
emp = df.Employment_Status.value_counts().sort_values(ascending=True)
wkstl = df.Remote_vs_Onsite.value_counts().sort_values(ascending=True)

fig, axes = plt.subplots(ncols=2, figsize=(15,6))

fig.suptitle('Employment Status & Work Style')
axes[0].barh(emp.index, emp.values)
axes[0].set_ylabel('Employment Status')
axes[0].set_xlabel('Count')
axes[0].set_yticks(range(len(empl)))
axes[0].set_yticklabels(empl)
axes[1].barh(wkstl.index, wkstl.values)
axes[1].set_ylabel('Work Style')
axes[1].set_xlabel('Count')
axes[1].set_yticks(range(len(wkstlls)))
axes[1].set_yticklabels(wkstlls);

#### Annual Salary

#### Salary Distribution by Continent

North American developers are the most well-paid, followed by Oceania and Europe

In [311]:
salo_sorted = salo.sort_values(ascending=True)
plt.figure(figsize=(6, 3))
salo_sorted.plot(kind='barh')
plt.ylabel('Continents')
plt.xlabel('Median Annual Salary')
plt.title('Median Annual Salary by Continents)');

In [312]:
plt.figure(figsize=(8, 3))
ax = sns.boxplot(x='continents', y='Annual_Salary', data=df)
plt.xticks(rotation=45)
plt.xlabel('Continent')
plt.ylabel('Annual Developer Salary')
plt.title('Annual Developer Salaries by Continent')
plt.show()

#### Developer Tools By Salary

In [313]:
# Create subplots with 4 rows
fig, axes = plt.subplots(nrows=4, figsize=(22, 30))
# Define the columns to plot
columns_to_plot = ['LanguageHaveWorkedWith', 'DatabaseHaveWorkedWith', 'PlatformHaveWorkedWith', 'WebframeHaveWorkedWith']
# Iterate over the columns and create plots
for i, column in enumerate(columns_to_plot):
    # Group the data by column and calculate the average annual salary
    median_salary_by_column = df.groupby(column)['Annual_Salary'].median().reset_index()
    median_salary_by_column = median_salary_by_column.sort_values('Annual_Salary', ascending=False)
    top_10_categories = median_salary_by_column.head(10)
    # Create the bar plot for each column
    axes[i].bar(top_10_categories[column], top_10_categories['Annual_Salary'])
    axes[i].set_xlabel(column)
    axes[i].set_ylabel('Median Annual Salary')
    axes[i].set_title(f'Top 10 {column} by Median Annual Salary')
    #axes[i].tick_params(axis='x', rotation=45, rotation_mode='anchor', ha='right')
# Adjust layout and display the plots
plt.tight_layout()
plt.show()

In [314]:
# Group the data by VersionControlSystem and calculate the median annual salary
average_salary_by_version_control = df.groupby('VersionControlSystem')['Annual_Salary'].median().reset_index()
average_salary_by_version_control = average_salary_by_version_control.sort_values('Annual_Salary', ascending=True)
# Create the vertical bar plot for VersionControlSystem
plt.figure(figsize=(8, 4))
plt.barh(average_salary_by_version_control['VersionControlSystem'], average_salary_by_version_control['Annual_Salary'])
plt.ylabel('Version Control System')
plt.xlabel('Average Annual Salary')
plt.title('Version Control Systems by Average Annual Salary')
plt.xticks(rotation=0, ha='right')
plt.tight_layout()
plt.show()

## Multivariate Analysis

In [315]:
# Subset the relevant columns
subset_df = df[["LanguageHaveWorkedWith", "Annual_Salary", "Education_Level"]]

# Filter out rows with missing values in any of the selected columns
subset_df = subset_df.dropna(subset=["LanguageHaveWorkedWith", "Annual_Salary", "Education_Level"])

# Plotting
plt.figure(figsize=(10, 6))
sns.scatterplot(data=subset_df, x="LanguageHaveWorkedWith", y="Annual_Salary", hue="Education_Level")
plt.xticks(rotation=90)
plt.xlabel("Languages Worked With")
plt.ylabel("Annual Salary")
plt.title("Relationship between Languages, Salary, and Education Level")
plt.show()

# Data Preprocessing

### Data Encoding
Our data mostly contains categorical variables that need to be preprocessed via encoding to make it ready for modelling
Before encoding the data, based on domain knowledge, we will select the required features that are most likely to affect `Annual_Salary`. Below, `deletedf` (38 columns) shows the list of columns to be dropped, while `selectorf` (36 columns), shows the columns to be used in preprocessing

In [316]:
deletedf = ['LanguageWantToWorkWith', 'DatabaseWantToWorkWith', 'PlatformWantToWorkWith', 'WebframeWantToWorkWith', 
'MiscTechWantToWorkWith', 'ToolsTechWantToWorkWith', 'NEWCollabToolsWantToWorkWith', 'Proj_Mgmt_WantToWorkWith', 
'Proj_Mgmt_SyncWantToWorkWith', 'Blockchain_Sentiment', 'New_Stack_Overfl_Sites', 'SOVisitFreq', 'SOAccount_Ownership', 
'SOA_ParticipationFreq', 'Belong_SO_Comm', 'Participation_PDS', 'Contributor_or_Manager', 'Extroverted', 'Siloed_Teams', 
'Information_Availability', 'Well_Resourced', 'Info_Answ_Resource', 'Recurring_Responses', 'Workflow_Interruptions', 
'External_Team_Assistance', 'External_Team_Interaction', 'Knowledge_Silos', 'TimeSearching_Answers', 'TimeAnswering', 
'Onboarding_Duration', 'ProfessionalTech', 'Is_Involved_Onboarding', 'Employer_Learning_Resources', 'Learning_Support', 
'SurveyLength', 'SurveyEase', 'Purchase_Research']

In [317]:
selectorf = ['Developer_Description', 'Employment_Status',
       'Remote_vs_Onsite', 'Outofwork_Coding', 'Education_Level',
       'Learn_Code_Method', 'Learn_Code_Source', 'Code_Certifications',
       'Coding_Experience', 'Pro_Experience', 'DevType', 'OrgSize',
       'PurchaseInfluence', 'Country',
       'LanguageHaveWorkedWith',
       'DatabaseHaveWorkedWith',
       'PlatformHaveWorkedWith',
       'WebframeHaveWorkedWith', 
       'MiscTechHaveWorkedWith',
       'ToolsTechHaveWorkedWith',
       'NEWCollabToolsHaveWorkedWith',
       'OpSysProfessional_use', 'OpSysPersonal_use', 'VersionControlSystem',
       'VCInteraction', 'Proj_Mgmt_HVWorkedWith',
       'Proj_Mgmt_SyncHaveWorkedWith', 
       'Age',
       'Gender', 'Trans', 'Sexuality', 'Ethnicity', 'Disability',
       'MentalHealth', 'Annual_Salary',
       'continents']

In [318]:
print(len(deletedf), len(selectorf))

In [319]:
columns_to_binary_encode = ['Employment_Status', 'ProfessionalTech', 'OpSysPersonal_use', 'OpSysProfessional_use', 
                            'Remote_vs_Onsite','Developer_Description', 'Outofwork_Coding', 'Learn_Code_Method', 
                            'Learn_Code_Source', 'Code_Certifications', 'DevType', 'Purchase_Research', 'Country', 
                            'LanguageHaveWorkedWith', 'DatabaseHaveWorkedWith', 'LanguageWantToWorkWith', 
                            'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith', 'PlatformWantToWorkWith', 
                            'WebframeHaveWorkedWith', 'WebframeWantToWorkWith', 'MiscTechHaveWorkedWith', 
                            'MiscTechWantToWorkWith', 'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith', 
                            'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'VersionControlSystem', 
                            'VCInteraction', 'Proj_Mgmt_HVWorkedWith', 'Proj_Mgmt_WantToWorkWith', 
                            'Proj_Mgmt_SyncHaveWorkedWith', 'Proj_Mgmt_SyncWantToWorkWith', 'New_Stack_Overfl_Sites', 
                            'SOAccount_Ownership', 'Belong_SO_Comm', 'Gender', 'Trans', 'Sexuality', 'Ethnicity', 
                            'Disability', 'MentalHealth', 'Participation_PDS', 'Contributor_or_Manager', 
                            'Is_Involved_Onboarding', 'Employer_Learning_Resources', 'Learning_Support', 'continents' ]

In [320]:
columns_to_ordinal_encode = ['Education_Level', 'OrgSize', 'PurchaseInfluence', 'Blockchain_Sentiment', 'SOVisitFreq', 
                             'SOA_ParticipationFreq', 'Age', 'Extroverted', 'Siloed_Teams', 'Information_Availability', 
                             'Well_Resourced', 'Info_Answ_Resource', 'Recurring_Responses', 'Workflow_Interruptions', 
                             'External_Team_Assistance', 'External_Team_Interaction', 'Knowledge_Silos', 
                             'TimeSearching_Answers', 'TimeAnswering', 'Onboarding_Duration', 'SurveyLength', 'SurveyEase']

In [321]:
numeric_cols = ['Coding_Experience', 'Pro_Experience','Annual_Salary']

In [322]:
columns_to_binary_encode_set = set(columns_to_binary_encode)
columns_to_ordinal_encode_set = set(columns_to_ordinal_encode)
deletedf_set = set(deletedf)

final_to_binary_encode = list(columns_to_binary_encode_set - deletedf_set)
final_to_ordinal_encode = list(columns_to_ordinal_encode_set - deletedf_set)

print(len(final_to_binary_encode))
print(len(final_to_ordinal_encode))
print(len(selectorf))

In [323]:
# final cols to work with
#final_to_binary_encode
#final_to_ordinal_encode
#numeric_cols

In [324]:
# drop work experience as its correlated to 
# professional experience, hence duplication
df = dropping_columns(df, 'WorkExp')
df = dropping_columns(df, 'ResponseId')

In [325]:
# perform binary encoding
def perform_binary_encoding(df, columns):
    # Create a copy of the original DataFrame
    df_encoded = df.copy()
    # Perform Binary Encoding for each specified column
    for column in columns:
        binary_encoder = ce.BinaryEncoder(cols=[column])
        df_encoded = binary_encoder.fit_transform(df_encoded)
    return df_encoded
# Perform Binary Encoding
df_encoded_binary = perform_binary_encoding(df, final_to_binary_encode)
# Display the encoded dataframe
df_encoded_binary

In [326]:
# perform ordinal encoding
def perform_ordinal_encoding(df, columns):
    # Create a copy of the original DataFrame
    df_encod = df.copy()
    # Perform Ordinal Encoding for each specified column
    for column in columns:
        ordinal_encoder = ce.OrdinalEncoder(cols=[column])
        df_encod[column] = ordinal_encoder.fit_transform(df_encod[column])
    return df_encod
# Perform Ordinal Encoding
df_encod = perform_ordinal_encoding(df_encoded_binary, final_to_ordinal_encode)
# Display the encoded dataframe
df_encod.head(5)

In [327]:
# drop deleted columns
df_encod = dropping_columns(df_encod, deletedf)

# confirm no categorical variables
print(df_encod.select_dtypes(include='object').columns)
df_encod.head()

In [328]:
Handling Numerical Variables

In [ ]:
Feature selection

In [ ]:
Feature engineering

In [ ]:
Outlier Detection and Handling